[user]
	name = Rafal
	email = rafal.sladek@gmail.com
[push]
	default = matching
[ui]
	color = auto
[alias]
	st = status
	pl = log --graph --pretty=\"%Cgreen%h%Creset – %ai – %s (%Cblueby %cn%Creset)\"
	slog = log --pretty=\"%Cgreen%h%Creset – %ai – %s (%Cblueby %cn%Creset)\" HEAD~15..HEAD
	co = checkout
  	hl = log --pretty=\"%h\"
	br = branch
	ci = commit
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%aN, %cr)%Creset' --abbrev-commit --date=relative
[branch]
	autosetuprebase = always
[http]
	sslVerify = true
	
[core]
	editor = '/Applications/Visual Studio Code.app/Contents/MacOS/Electron' -w
	autocrlf = input
	editor	 = vim
[merge]
	tool = kdiff3

[mergetool]
	path = /usr/local/bin/kdiff3
	trustExitCode = false
	keepBakcup = false 
[secrets]
	providers = cat /Users/rsladek/.gitsecrets/provider
	allowed = arn:aws:acm:eu-west-1:[0-9a-f]{12}:certificate/[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}
	allowed = arn:aws:acm:us-east-1:[0-9a-f]{12}:certificate/[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}
	allowed = arn:aws:kms:eu-west-1:[0-9a-f]{12}:key/[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}
	allowed = VERGLEICHSIMMOBILIEN
	allowed = [0-9]{19}
[init]
	templateDir = /Users/rsladek/.gitsecrets/hooks
